<h1>Doctors</h1>


<ul>
  <% @doctors.each do |doctor| %>
    <% if current_user.class.to_s == 'Admin' %>
      <li><%= link_to doctor.full_name, medical_center_department_doctor_path(@medical_center, @department, doctor) %></li>
    <% elsif current_user == doctor %>
      <li><%= link_to doctor.full_name, medical_center_department_doctor_path(@medical_center, @department, doctor) %></li>
    <% else %>
      <li><%= link_to_if false, doctor.full_name, medical_center_department_doctor_path(@medical_center, @department, doctor) %></li>
    <% end %>
  <% end %>
</ul>

<hr><%= link_to "Departament #{@department.name}", medical_center_department_path(@medical_center, @department) %>
